# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Distribution / packaging
*.egg-info/
dist/
build/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
